<!DOCTYPE html>
<html lang="en">
<body class="creditos">
    <div class="inline">
        <img src="/imgs/julian.jpg" alt="" height="500">
        <img src="/imgs/maxi.jpeg" alt="" height="500" class="right">
        
    </div>
    <br>
    <div class="inline">
        <div class="h2creditos1">
            <h2>Desarrollado por: Julian Furland Otero</h2>
        </div>
        <div class="h2creditos2">
            <h2 class="righth2">Diseño grafico: Maximiliano Sher</h2>
        </div>  
    </div>
</body>
</html>