<!DOCTYPE html>
<html lang="en">
<body>
    <div class="inline">
        <img src="/imgs/julian.jpg" alt="" height="500">
        <img src="/imgs/maxi.jpeg" alt="" height="500">
        
    </div>
    <br>
    <div>
        <h2>Desarrollado por: Julian Furlan Otero     Diseño grafico: Maximiliano Sher</h2>
    </div>
</body>
</html>