<!DOCTYPE html>
<html lang="en">
<body class="fin">
    <div class="containerfin">
        <h1>Fin</h1>
        <h2>
            Gracias por jugar a la sala de escape pirata! Demostraste ser un hablidoso navegante, asi que acá esta tu tesoro!
        </h2>
    </div>
    <br>
    <br>
    <a href='@Url.Action("Index")'><img src="/imgs/tesoro.jpg" alt="volver" class="imgcenter"></a>
</body>
</html>