<!DOCTYPE html>
<html lang="en">
<body class="habitacion3">
    <div class="container">
        <h2>
            Escupe fuego por la boca y destroza el barco de proa a popa
        </h2>
        <h4>¿Qué es?</h4>
    </div>
    <br>
    <form action='@Url.Action("Habitacion")'>
        <input type="text" name="clave" required>
        <input type="hidden" name="sala" value="3">
        <button onclick="alert('Pista 1: El navio tiene multiples')"> Pista 1 </button>
        <button onclick="alert('Pista 2: Sirve para defenderse de los otros piratas')"> Pista 2 </button>
        <input type="submit" value="Enviar">
    </form>
    <br>
    @if (ViewBag.Error)
    {
        <h2>La repsuesta no es correcta, ingresa de nuevo</h2>
    }
</body>
</html>