<!DOCTYPE html>
<html lang="en"></html>
<body class="habitacion1">
    <img src="/imgs/acertijo1.png" alt="acertijo">
    <form action='@Url.Action("Habitacion")'>
        <input type="text" name="clave" required>
        <input type="hidden" name="sala" value="1">
        <input type="submit" value="Enviar">
    </form>
    @if (ViewBag.Error)
    {
        <h2>La repsuesta no es correcta, ingresa de nuevo</h2>
    }
    <br>
    <div class="container">
        <h3>La brujula y la espada pesan 100. La espada y el timón pesan 130, y la brujula y el timón 90.</h3>
        <h3>Cuanto pesa la brujula?</h3>
    </div>
    
</body>
</html>