@{
    ViewData["Title"] = "Página Principal";
}
<!DOCTYPE html>
<html lang="en">
<body class="home">
    <nav>
        <ul>
            <li><a href='@Url.Action("Tutorial")'>Tutorial</a></li>
            <li><a href='@Url.Action("Comenzar")'>Comenzar</a></li>
            <li><a href='@Url.Action("Creditos")'>Créditos</a></li>
        </ul>
    </nav>
</body>
</html>