<!DOCTYPE html>
<html lang="en">
<body class="tutorial">
    
    <div class="center">
        <h1>Tutorial</h1>
        <h4>En esta sala de escape pondrás a prueba tus conocimientos piratas. Resolveras acertijos lógicos y adivinanzas. 
            Asi descubriremos tus habilidades piratas, y podras navegar por los 7 mares con nosotros...
        </h4>
    </div>
    <a href='@Url.Action("Index")' class="volveralindex">Volver</a>
</body>
</html>