html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@font-face {
  font-family: "xbones";
  src: url('../fonts/xbones.ttf') format('truetype');
}
@font-face {
  font-family: "JackPirate";
  src: url('../fonts/JackPirate.ttf') format('truetype');
}
@font-face {
  font-family: "PiratesBay";
  src: url('../fonts/PiratesBay.ttf') format('truetype');
}
.home{
  overflow: hidden;
  position: relative;
  background-image: url("/imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  position: fixed; 
  bottom: 0; 
}
footer,header{
  font-family: 'xbones';
  color: white;
}
nav{
  position: absolute;
  margin-left: 43rem;
  margin-top: 45rem;
}
nav li{
  display: inline;
}
nav ul{
  list-style: none; 
}
nav a{
  font-family: 'xbones';
  margin: 1rem;
  color: white;
  text-align: center;
  float: left;
  text-decoration: none;
  padding: 1rem;
  background-color: black;
  border-radius: 1rem;
}
.inline{
  display: inline;
}
.right{
  float: right;
  margin-top: 0;
}
.righth2 {
  float: right;
}
.creditos, .tutorial {
  background-image: url('/imgs/bgcreditos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h2creditos1{
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  color: white;
  background-color: black;
}
.h2creditos2{
  margin-left: 67rem;
  margin-top: 2rem;
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  color: white;
  background-color: black;
}
.center{
  margin-left: 40rem;
  text-align: center;
  display: inline-block;
  padding: 1rem;
  background-color: gray;
  border-radius: 2rem;
}
.volveralindex{
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  color: white;
  background-color: black;
  font-family: 'JackPirate';
  text-decoration: none;
}
.habitacion1{
  font-family: 'xbones';
  color: rgb(209, 209, 209);
  background-image: url('/imgs/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.habitacion2{
  color: rgb(209, 209, 209);
  background-image: url('/imgs/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h2,h3,h4{
  font-family: 'PiratesBay';

}
.habitacion3{
  color: rgb(209, 209, 209);
  background-image: url('/imgs/bg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.container{
  border-radius: 2rem;
  padding: 1rem;
  display:inline-block;
  background-color: black;
}